/**************************************/
/*Below 1200 px*/
/**************************************/
@media (max-width: 75em) {
  .navbar-container {
    max-width: 992px !important;
  }
}
/**************************************/
/*Below 1088 px*/
/**************************************/
@media (max-width: 68em) {
  .navbar-container {
    max-width: 992px;
  }
  .header-content {
    margin: 0 12rem;
  }
  .navbar {
    top: 0.7rem;
    left: 6rem;
  }
  .hero-section1 {
    margin: 0 3.5rem;
  }
}
/**************************************/
/*Below 1000 px*/
/**************************************/
@media (max-width: 62.5em) {
  .hero-section2-content {
    flex-direction: column;
  }
  .hero-s2-item1-main {
    padding: 0px 0 0px 0;
    margin: 0px 0 0px 0;
  }
  .footer-flex-item1 {
    margin-left: 40px;
  }
  .hero-s4-heading {
    font-size: 2rem;
  }
  .hero-s3-p2-flex-container {
    margin-bottom: 0;
  }
  .hero-s3-p2-flex-item1 {
    flex-basis: 100%;
    max-width: 100%;
  }
  .hero-s3-p2-flex-item2 {
    padding-top: 0;
    flex-basis: 100%;
    max-width: 100%;
  }
  .hero-s6-p2-flex-item {
    flex-basis: 100%;
    max-width: 100%;
  }
  .hero-s7-p2-flex-item {
    flex-basis: 50%;
    max-width: 50%;
  }
  .hero-s7-logo {
    flex-basis: 33.3333%;
    max-width: 33.3333%;
  }
  .hero-s9-p1-flex-item {
    flex-basis: 50%;
    max-width: 50%;
  }
  .hero-s10-flex-item {
    flex-basis: 100%;
    max-width: 100%;
    text-align: center;
  }
}

/**************************************/
/*Below 992 px*/
/**************************************/
@media (max-width: 62em) {
  .navbar-container {
    max-width: 768px !important;
  }
}
/**************************************/
/*Below 928 px*/
/**************************************/
@media (max-width: 58em) {
  .header-content {
    margin: 0 10rem;
  }
  .hero-section1 {
    margin: 0 3rem;
  }
  .navbar {
    top: 0.6rem;
    left: 5rem;
  }
  .nav-mid-item {
    margin: 0 3px;
  }
  .hero-s2-r1-content {
    padding: 24px 0 0 0px;
  }
  .hero-s2-r2-content {
    padding: 24px 0 0 0px;
  }
  .hero-s2-item2 {
    padding: 0px 0 0 24px;
    margin: 0 0 0 auto;
  }
  .hero-section2-main {
    margin: 2rem 0;
    padding: 2rem 0;
  }
  .hero-s2-para {
    padding: 0;
  }
  .hero-section3 {
    padding: 24px 0;
    margin: 24px 0;
  }
  .hero-s4-flex-item {
    flex-basis: 100%;
    flex-grow: 0;
    max-width: 100%;
  }
  .hero-s4-flex-item1 {
    padding: 48px 48px 12px 48px;
    margin: 0 48px;
  }
  .hero-s4-flex-item2 {
    margin: 0 48px;
  }
  .hero-s8-flex-item {
    flex-basis: 70%;
    max-width: 70%;
  }
}
/**************************************/
/*Below 880 px*/
/**************************************/
@media (max-width: 55em) {
  .header-content {
    margin: 0 8rem;
  }
  .navbar {
    margin: 10px 14px;
  }
  .nav-mid-item {
    margin: 0;
  }
  .hero-section1 {
    margin: 0 2rem;
  }
  .hero-section1-main {
    margin: 0;
    padding: 0 0.5rem;
  }
  .section1-item {
    padding: 0.5rem;
  }
  .hero-s3-p1-content {
    max-width: 80%;
  }
  .hero-s5-p2-flex-item1 {
    padding-top: 0;
  }
}
/**************************************/
/*Below 800 px*/
/**************************************/
@media (max-width: 51em) {
  .header-content {
    margin: 0 6rem;
  }
  .header-content-para {
    padding: 0 1.2rem;
  }
  .navbar {
    margin: 8px 12px;
    padding: 0.5rem;
    top: 0.6rem;
    left: 5rem;
  }
  .nav-mid-item2 {
    margin: 0 3px 0 3px;
  }
  .brand-text {
    font-size: 0.8rem;
  }
  .hero-section1 {
    margin: 0 1rem;
  }
  .footer-content {
    margin: 0 1rem;
  }
  .hero-s6-flex-item-content {
    max-width: 75%;
  }
  .hero-s7-part1 {
    max-width: 80%;
  }
}
/**************************************/
/*Below 736 px*/
/**************************************/
@media (max-width: 46em) {
  .header-content-heading {
    font-size: 2.5rem;
    margin: 0;
  }
  .navbar {
    top: 0.5rem;
    left: 3rem;
  }

  .header-content-para {
    font-size: 1rem;
    line-height: 1.6rem;
  }

  .btn-mobile-nav {
    display: block;
    z-index: 9999;
  }
  .nav-mid-content {
    background-color: rgb(255, 255, 255, 0.8);
    backdrop-filter: blur(10px);
    border-radius: 1rem;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 20rem;
    transform: translateX(100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease-in;

    /* Hide navigation*/
    /* Allows no transition at all*/
    /* display: none; */

    /* 1) Hide it visually*/
    opacity: 0;

    /* 2) Make it unaccessible for mouse and keyboard*/
    pointer-events: none;

    /* 3) Hide it from screen readers*/
    visibility: hidden;
  }
  .nav-mid-item2 {
    margin-right: 20rem;
  }
  .nav-open .nav-mid-content {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    transform: translateX(0);
  }

  .nav-open .icon-mobile-nav[name="close-outline"] {
    display: block;
  }
  .nav-open .icon-mobile-nav[name="menu-outline"] {
    display: none;
  }

  .hero-section1 {
    flex-direction: column;
  }
  .hero-s2-row1,
  .hero-s2-row2 {
    flex-direction: column;
    text-align: center;
  }

  .hero-s3-p1-content {
    max-width: 100%;
  }
  .hero-s3-p2-flex-item2-flex-item {
    flex-basis: 50%;
    max-width: 50%;
  }
  .hero-s3-p2-flex-container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 0 10px -24px;
  }
  .hero-s3-p2-flex-item1 {
    text-align: center;
    flex-basis: 100%;
    max-width: 100%;
  }
  .hero-s3-p2-flex-item1-content {
    padding: 0;
  }
  .hero-s3-p2-flex-item2 {
    padding: 0;
  }
  .hero-s3-part2 {
    padding-right: 0;
  }
  .footer-flex-item1 {
    flex-basis: 100%;
    max-width: 100%;
    margin-left: 2px;
  }
  .footer-flex-item {
    flex-basis: 50%;
    max-width: 50%;
    padding-left: 48px;
  }
  .hero-s6-flex-item-content {
    max-width: 100%;
    margin-left: 0;
  }
  .hero-s4-flex-item2-flex-item {
    flex-basis: 100%;
    max-width: 100%;
    margin-top: 0;
  }
  .hero-s4-flex-item {
    margin: 0;
  }
  .hero-s5-p2-flex-item1 {
    padding-top: 0;
    text-align: left;
  }
  .hero-s3-p2-title {
    font-size: 1.5rem;
  }
  .hero-s7-part1 {
    max-width: 100%;
  }
  .hero-s7-main {
    margin: 0;
  }
  .hero-s7-p1-heading1,
  .hero-s7-p1-heading2 {
    font-size: 1.7rem;
  }
  .hero-s7-p2-flex-item {
    flex-basis: 100%;
    max-width: 100%;
  }
  .hero-s7-p2-flex-item {
    padding: 0;
  }
  .hero-s7-part2 {
    margin-top: 2rem;
  }
  .hero-s7-logo {
    flex-basis: 50%;
    max-width: 50%;
  }
  .hero-s8-flex-item {
    flex-basis: 100%;
    max-width: 100%;
  }
}

/**************************************/
/*Below 576 px*/
/**************************************/
@media (max-width: 36em) {
  .navbar-container {
    padding: 0 24px;
  }
}

/**************************************/
/*Below 544 px*/
/**************************************/
@media (max-width: 34em) {
  .header-content {
    margin: 0 1.5rem;
  }
  .header-content-heading {
    font-size: 2rem;
  }
  .pro-text {
    padding: 0.6em 0.8em;
  }
  .header-content-para {
    padding: 0 0.7rem;
    margin-top: 5px;
  }
  .navbar {
    top: 0.4rem;
    left: 2rem;
  }
  .hero-section2 {
    padding: 0;
  }
  .s3-p1-title {
    font-size: 1.5rem;
    line-height: 1.1;
  }
  .s3-p1-description {
    font-size: 1rem;
    line-height: 1.3;
  }
  .hero-s2-item2 {
    padding: 0;
  }
  .hero-s3-p2-flex-item2-flex-item {
    flex-basis: 100%;
    max-width: 100%;
    margin: 0;
    padding-top: 0;
  }
  .hero-s3-p2-flex-item1 {
    margin-bottom: 1rem;
  }
  .hero-s6-heading {
    font-size: 1rem;
  }
  .hero-s6-heading2 {
    font-size: 2rem;
  }
  .hero-s6-description {
    font-size: 1rem;
  }
  .hero-s4-flex-item {
    padding: 24px 12px;
  }
  .hero-s4-view-btn2 {
    padding: 0.625rem 1rem;
    font-size: 0.65rem;
  }
  .hero-s4-view-btn1 {
    font-size: 0.65rem;
  }
  .hero-s4-heading {
    margin-bottom: 1rem;
    font-size: 1.6rem;
  }
  .hero-s3-p2-title {
    font-size: 1rem;
  }
  .hero-s5-p2-flex-item1 {
    padding-left: 12px;
  }
  .hero-s7-p1-heading1,
  .hero-s7-p1-heading2 {
    font-size: 1.4rem;
  }
  .hero-s7-p1-description {
    font-size: 1rem;
  }
  .s8-title {
    font-size: 1.4rem;
  }
  .hero-s9-p1-flex-item {
    flex-basis: 100%;
    max-width: 100%;
  }
}
/**************************************/
/*Below 432 px*/
/**************************************/
@media (max-width: 27em) {
  .hero-s6-heading2 {
    font-size: 1.2rem;
  }
  .hero-s6-description {
    font-size: 0.8rem;
  }
  .hero-s6-heading {
    font-size: 0.8rem;
  }
  .hero-s6-flex-item {
    padding: 12px;
  }
  .hero-s6-p2-flexbox-item {
    padding-left: 10px;
  }
  .hero-s6-p2-flex-item {
    padding: 24px 0 0 12px;
  }
  .hero-s6-p2-flex-item-flex-box1,
  .hero-s6-p2-flex-item-flex-box2,
  .hero-s6-p2-flex-item-flex-box3 {
    padding: 28px 12px 24px;
  }
  .hero-s6-p2-flexbox-item-desc1,
  .hero-s6-p2-flexbox-item-desc2,
  .hero-s6-p2-flexbox-item-desc3 {
    font-size: 0.8rem;
  }
  .hero-s6-p2-flexbox-item-title1,
  .hero-s6-p2-flexbox-item-title2,
  .hero-s6-p2-flexbox-item-title3 {
    font-size: 1rem;
  }
}
